<div>
    <div class="bg-[#8C6E35] flex flex-col h-[7%] sm:h-[10%] lg:h-[12em] w-[10em] lg:w-[14.5em] mx-auto p-4 rounded-t-lg ml-[15%] lg:ml-[115%]">
        <h2 class="text-white text-sm sm:text-lg lg:text-xl">GAS</h2>
        <img [src]="gasImage" class="w-[80%] lg:w-[50%] ml-2 lg:ml-8 py-1">
    </div>
    <div class="bg-[#C9C39A] h-[2.7em] lg:h-[3em] w-[10em] lg:w-[14.5em] rounded-b-lg ml-[15%] lg:ml-[115%] flex md:flex-row py-1 px-1 lg:py-2 lg:px-2">
        <h3 class="text-lg lg:text-xl ml-[0.5em] lg:ml-[2.5em] text-[#8C6E35]">{{ getGasValue() }}<span class="text-[lg] lg:text-xl lg:ml-2">ppm</span></h3>
    </div>
</div>

  