<section>

    <div>
        <img src="assets/image/kitchen_ima2.jpg" class="bg-cover" style="position: fixed; width: 100%; height: 100%; z-index: -100; opacity: 0.80;">
        <div class="bg-black bg-cover" style="position: fixed; width: 100%; height: 100%; z-index: -100; opacity: 0.60;"></div>
        <div class="flex flex-col md:flex-row">
            <h1 class="text-white text-2xl sm:text-4xl lg:text-6xl letter-logo ml-44 md:text-6xl md:ml-28 mt-2 md:mt-0" style="letter-spacing: 0.2em;">IHOME</h1>
            <h2 class="text-white text-xl sm:text-3xl lg:text-5xl letter-normal ml-[45%] md:text-5xl md:ml-auto md:mr-28 mt-2 md:mt-0" style="letter-spacing: 0.1em; margin-top: 0.2em;">{{kitchenName}}</h2>
        </div>

        @if (dhtData) {
            <app-temperature-data-item [dht-data]="dhtData" class="col-span-2 row-span-2" component-room-name="kitchens"
            [component-location]="dhtData.location" [component-name]="dhtData.name"/>
        }
    </div>
    <br/>
    <div style="display: flex;">
        <div  class="flex flex-col md:flex-row">

            <app-door-data-item 
            class="lg:-ml-[12em]"
            [door-data]="doorData" 
            [component-room-name]="kitchenName" 
            [component-location]="'someLocation'" 
            [component-name]="'Puerta'" 
            (actuator-updated)="onActuatorUpdate()"/>

            <app-ventana-ii-data-item
            class="lg:-ml-[8em]"
            [windowILeft-data]="windowILeftData" 
            [component-room-name]="'kitchenName'" 
            [component-location]="'someLocation'" 
            [component-name]="'Ventana_Izquierda_I'" 
            (actuator-updated)="onActuatorUpdate()"/>

            <app-ventana-di-data-item
            class="lg:ml-[4em]"
            [windowDLeft-data]="windowDLeftData" 
            [component-room-name]="'kitchenName'" 
            [component-location]="'someLocation'" 
            [component-name]="'Ventana_Derecha_I'" 
            (actuator-updated)="onActuatorUpdate()"/>
            
        </div>
        <div  class="flex flex-col md:flex-row">
            <app-ventana-id-data-item
            class="lg:ml-[4em]"
            [windowIRight-data]="windowIRightData" 
            [component-room-name]="'kitchenName'" 
            [component-location]="'someLocation'" 
            [component-name]="'Ventana_Derecha_I'" 
            (actuator-updated)="onActuatorUpdate()"/>

            <app-ventana-dd-data-item
            class="lg:ml-[4em]"
            [windowDRight-data]="windowDRightData" 
            [component-room-name]="'kitchenName'" 
            [component-location]="'someLocation'" 
            [component-name]="'Ventana_Derecha_D'" 
            (actuator-updated)="onActuatorUpdate()"/>

        </div>
    </div>
    <br/>
    <div class="flex">
        <div class="flex flex-col md:flex-row">

            <app-in-light-data-item
            class="lg:-ml-[18em]"
            [inlight-data]="inLightData" 
            [component-room-name]="kitchenName" 
            [component-location]="'someLocation'" 
            [component-name]="'Releay'" 
            (actuator-updated)="onActuatorUpdate()"/>

            <app-gas-data-item class="lg:ml-[11em]" [gas-data]="gasData" />

        </div>
        <div class="flex flex-col md:flex-row ml-[0.5em] lg:-ml-[6em]">
            <app-fan-data-item
            [fan-data]="fanData" 
            [component-room-name]="'kitchenName'" 
            [component-location]="'someLocation'" 
            [component-name]="'Ventilador'" 
            (actuator-updated)="onActuatorUpdate()"/>

            <app-ex-light-data-item
            [exlight-data]="exLightData" 
            [component-room-name]="'Garage'" 
            [component-location]="'someLocation'" 
            [component-name]="'Luz Exterior'" 
            (actuator-updated)="onActuatorUpdate()"/>

        </div>
    </div>
    
    
</section>

