@font-face {
    font-family: 'ihome2';
    src: url('/assets/fonts/Merriweather-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: bold;
  }
 
  .letter-normal {
    font-family: 'ihome2';
  }