<!-- <app-header (toggleSidenav)="toggleSidenav()"></app-header>
<mat-sidenav-container class="overflow-hidden h-full"  hasBackdrop="true">
    <mat-sidenav #sidenav mode="over" class="w-full md:w-3/4 xl:w-1/4 p-4 bg-[#737779]" style="opacity: 0.90;">
        <app-sidenav>
            <button mat-button (click)="toggleSidenav()">Toggle</button>
        </app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="h-custom">
            <app-loader class="flex justify-center items-center fixed top-0 left-0 "/>
            <router-outlet class="h-custom"/>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>  -->
<!-- <a routerLink="/dashboard"></a>
    <router-outlet></router-outlet> -->


    <app-header *ngIf="showLayout" (toggleSidenav)="toggleSidenav()"></app-header>

<mat-sidenav-container *ngIf="showLayout" class="overflow-hidden h-full" hasBackdrop="true">
  <mat-sidenav #sidenav mode="over" class="w-full md:w-3/4 xl:w-1/4 p-4 bg-[#737779]" style="opacity: 0.90;">
    <app-sidenav>
      <button mat-button (click)="toggleSidenav()">Toggle</button>
    </app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="h-custom">
      <app-loader class="flex justify-center items-center fixed top-0 left-0" />
      <router-outlet class="h-custom" />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Este router-outlet está dentro de los sidenav, así que solo va a mostrar el login/register cuando showLayout sea false -->
<router-outlet *ngIf="!showLayout"></router-outlet>